* {
  background-color: black;
}

/* Logo effect */
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
