<div  class="card profileCard">
  <div class="container profileCard__container">
    <div class="row">
      <div class="col">
        <span class="profileCard__title">{{ mockRepositoriesInfo.login }}</span>
      </div>
    </div>
  </div>
  <div class="container profileCard__container">
    <div class="row">
      <div class="col">
        <div class="p-1">
          <img
            src="{{ mockRepositoriesInfo.avatar_url }}"
            class="card-img"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="p-1">
          <ul class="list-group profileCard__details">
            <li
              *ngIf="mockRepositoriesInfo.login"
              class="list-group-item profileCard__item"
            >
              Username:
              <span class="profileCard__item--result">{{
                mockRepositoriesInfo.login
              }}</span>
            </li>
            <li
              *ngIf="mockRepositoriesInfo.location"
              class="list-group-item profileCard__item"
            >
              Location:
              <span class="profileCard__item--result">{{
                mockRepositoriesInfo.location
              }}</span>
            </li>
            <li
              *ngIf="mockRepositoriesInfo.email"
              class="list-group-item profileCard__item"
            >
              Email:
              <span class="profileCard__item--result">{{
                mockRepositoriesInfo.email
              }}</span>
            </li>
            <li
              *ngIf="mockRepositoriesInfo.blog"
              class="list-group-item profileCard__item"
            >
              Blog Link:
              <span class="profileCard__item--result">{{
                mockRepositoriesInfo.blog
              }}</span>
            </li>
            <li
              *ngIf="mockRepositoriesInfo.created_at"
              class="list-group-item profileCard__item"
            >
              Member since:
              <span class="profileCard__item--result">{{
                mockRepositoriesInfo.created_at
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="button profileCard__button">
          <app-button (click)="goToUrl()"></app-button>
        </div>
      </div>
    </div>
    <div class="row profileCard__summary">
      <app-info></app-info>
    </div>
  </div>
</div>
