
<tr  *ngFor="let item of mockRepostoriesRepo; let i = index">
  <td class="tableRepository__description">
    <tr>
      <a href="{{ mockRepostoriesRepo[i].html_url
 }}">
      <p class="tableRepository__name">
        {{ mockRepostoriesRepo[i].name }}
      </p>
      </a>
    </tr>
    <tr>
      <p  class="tableRepository__info">{{ mockRepostoriesRepo[i].description }}</p>
    </tr>
  </td>
  <td class="tableRepository__info">
    <tr>
      <div class="tableRepository__status">
        <div class="tableRepository__cell">
          <app-status
            [title]="mockRepostoriesRepo[i].forks + ' forks'"
version='forks'          ></app-status>
        </div>
        <div class="tableRepository__cell">
          <app-status
            [title]="mockRepostoriesRepo[i].watchers + ' watchers'" version='watchers'    
          ></app-status>
        </div>
      </div>
    </tr>
  </td>
</tr>